<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrefPaneIconFile</key>
	<string>Cocoa_Pr_L84_NSPreferencePane.tiff</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Cocoa Pr L84 NSPreferencePane</string>
</dict>
</plist>
